.home {
    h1 {
        max-width: 300px;
        line-height: 1.4;
        text-align: center;
        margin:20px auto;
        font-weight: 300;
        font-size: 24px;

        span {
            color: #535bf2;
            font-weight: 400;
            border-bottom: 1px solid #f1f1f1;
            font-size: 30px;
        }
    }

    .movie_wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 80px;
        align-items: center;
        justify-content: center;

        .movie_card {
            h3 {
                font-weight: 300;
            }
        }
    }
}