.login {
    display: flex;
    justify-content: center;
    align-items: center;
    form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        justify-content: center;
        align-items: center;
        h4 {
            margin-bottom: 10px;
        }
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            input {
                border-radius: 6px;
                border: unset;
                border: 1px solid #646cff;
                padding: 5px;
            }
        }

    }
}