.movie {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 40px;
    .movie_info {
        max-width: 500px;
        text-align: start;
        display: flex;
        flex-direction: column;
        gap: 8px;
        h5{
            margin: 8px 0;
        }
        .imdb {
            border: 2px solid #646cff;
            padding: 2px 3px;
            border-radius: 8px;
            width: 110px;
            text-align: center;
        }
    }
}